################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/mgs/v16/Server/sqlite3
/.vs/mgs/DesignTimeBuild
/.vs/mgs/v16
